:root{
    --c-b-0:white;   /*Textos, iconos*/
    --c-b-1:#E5E900; /*borde de botones */
    --c-b-2:#D6EA58; /**/
    --c-b-3:#99CD9A;
    --c-b-4:#757C7A;
    --c-b-5:#404040;
    --c-b-6:#000000;

}